@model UsuarioModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- Botão do menu hamburguer -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Menu colapsável -->
<div class="collapse navbar-collapse justify-content-center justify-content-lg-end" id="navbarSupportedContent">
    <ul class="navbar-nav text-center text-lg-start" style="font-family: 'Courier New', Courier, monospace;">

        @if (Model.Perfil == SisºFut_SistemaOrganizacionalJogosdeFutsal.Enums.PerfilEnum.Admin)
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="JogosEncerrados" asp-action="Index">Jogos-Encerrados</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contatos</a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MeuPerfil" asp-action="Index">Perfil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>

    </ul>
</div>
