@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="col-sm-12 col-md-4 col-md-offset-4" style="border: 2px solid #ccc; padding: 20px; margin: auto; border-radius: 10px;">

        <div class="col-mb-4">
            <label for="login" class="form-label">Login</label>
            <input type="text" asp-for="Login" class="form-control" id="login">
            @Html.ValidationMessageFor(x => x.Login)
        </div>

        <div class="col-mb-4">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" id="senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>

        <p class="mb-4 text-sm-center mx-auto">
            Esqueceu sua senha?
            <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Redefinir minha senha</a>
        </p>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>

@*         <div class="mt-4">
            <!-- Margem maior -->
            <a class="btn btn-primary btn-block" asp-controller="Login" asp-action="Criar" role="button">Adicionar novo usuário</a>
        </div> *@
        <a class="btn btn-link" asp-controller="CadastroPublico" asp-action="Cadastro">Criar uma nova conta</a>
    </div>
</form>