@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar contatos";
}

<!-- Modal -->
<div class="modal fade" id="_ModalExcluirPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmação de Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você realmente deseja excluir seu perfil?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" asp-controller="MeuPerfil" asp-action="ExcluirPerfil" asp-route-id="@Model.Id">Confirmar Exclusão</a>
            </div>
        </div>
    </div>
</div>
<div id="modalContainer"></div>