@model HomeModel

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4"> Publicações </h1>
    <hr style="border: 2px solid cyan; width: 50%; margin: auto;">
</div>




<div class="jumbotron" style="margin-top: 30px">


</div>

<div class="text-center">
    <h1 class="display-4"> Jogos </h1>
    <hr style="border: 2px solid cyan; width: 50%; margin: auto;">
</div>


<div style="display: flex; gap: 15px; margin-top: 30px">
    <div class="card" style="width: 18rem;display: flex; align-items: center; text-align: center;">
        <div class="card-body">
            <h2 class="card-title" style="align-items:center"> Amistosos </h2>
            <img src="https://cdn-icons-png.flaticon.com/512/53/53264.png" class="card-img-top" alt="20px" style="width: 100px; height: auto;margin-top: 30px">
            <div style="margin-top: 60px;">
                <a asp-action="Amistoso" asp-controller="Home" class="btn btn-primary" style="display: block; width: fit-content; margin: auto;">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;display: flex; align-items: center; text-align: center;">
        <div class="card-body">
            <h2 class="card-title" style="align-items:center"> Lista de Jogos </h2>
            <img src="https://cdn-icons-png.flaticon.com/512/53/53264.png" class="card-img-top" alt="20px" style="width: 100px; height: auto;margin-top: 30px">
            <div style="margin-top: 60px;">
                <a href="#" class="btn btn-primary" style="display: block; width: fit-content; margin: auto;">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        @* <img src="..." class="card-img-top" alt="..."> *@
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>