@{
    ViewData["Title"] = "Confirmação apagar contatos";
}

<div class="text-center">
    <h3>Realmente dejeja apagar o contato (rafa)?</h3>
    <a class="btn btn-primary" role="button" asp-asp-controller="Contato" asp-action="Index">Cancelar Exclusão </a>
    <a class="btn btn-danger" role="button" asp-asp-controller="Contato" asp-action="Apagar">Confirmar Exclusão </a>
</div>

