@model ContatoModel
@{
    ViewData["Title"] = "Editar contatos";
}
<div class="text-center" style="font-family: Courier, monospace;">

    <h1 class="display-4">Editar contato</h1>

</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <div class="col-sm-12 col-md-4 col-md-offset-4" style="border: 2px solid #ccc; padding: 20px; margin: auto; border-radius: 10px; margin-top: 30px">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>

    <br>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Contato" role="button">Voltar</a>

    </div>
</form>

